<!DOCTYPE html>
<html>
  <head>
    <title>Minipost</title>
    <%= csrf_meta_tags %>

   
  </head> 
  <body>
  <div class="nav_bar"> 
  	<div class="nav_items">
  		<ul>
  			<li><%=link_to "Home", root_path%></li> 
  			<li><%=link_to "About", home_About_path%></li> 
  			<li><%=link_to "New", home_New_path%></li>
  		</ul>


  	</div>




  </div>
    <%= yield %>
  </body>
</html>
